<%- include('./../layout/header'); %>
<%- include('./../frontpage/home'); %>
<div class="site-section" id="pricing-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
            <h2 class="font-weight-bold text-black">List content of course <br>[ <%= course.name %> ] </h2>
            <p class="mb-5">Tambahkan content untuk kursus ini.</p>
            </div>
        </div>

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Id Content</th>
                <th scope="col">Description</th>
                <th scope="col">Link</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <% course.CourseContents.forEach(content => { %>
                    <tr>
                      <th scope="row"><%= content.id %></th>
                      <td><%= content.content %></td>
                      <td>
                          <a target="_blank" href="http://<%= content.link %>">Open Content</a>
                      </td>
                      <td>
                          <a href="">Edit</a>
                          |
                          <a href="">Delete</a>
                      </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
            <h2 class="font-weight-bold text-black">Add Course Content</h2>
            <p class="mb-5">Tambahkan content untuk kursus ini.</p>
            </div>
        </div>
        <div class="col-md-12">
            <form method="post" action="/course/saveCourseDetail/<%= course.id %>">
                <div class="form-group">
                  <label>Content</label>
                  <input name="content" type="text" class="form-control" placeholder="Enter Content">
                  <small class="form-text text-muted">Masukan kontent kursus anda.</small>
                </div>
                <div class="form-group">
                    <label>Link</label>
                    <input name="link" type="text" min="0" class="form-control" placeholder="Enter Content Link">
                    <small class="form-text text-muted">Make sure link is aksesibel and not tipu tipu.</small>
                </div>  
                <button type="submit" class="btn btn-primary">Add Content</button>
              </form>
        </div>
    </div>
</div>   

<%- include('./../layout/footer'); %>
